<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <!-- css link -->
    <link rel="stylesheet" href="/css/style.css">
	<!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

	<!-- bootstrap font awsome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
	<!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- bootsrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- animation  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- bootstrap scipt -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2 why">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" width="100%" height="100%">
                  </div>
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="image/logo.png"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-4 pb-1 display-5 "><b>LOGIN</b></h4>
                        <% if(message.length > 0){ %>
                          <div class="alert alert-success">
                              <%= message %>
                          </div>
                      <% } %>
                      <% if(error.length > 0){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                      </div>
      
                      <form method="post" action="/verify_login">
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example11" name="email" class="form-control"
                            placeholder="Phone number or email address" >
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" name="password" class="form-control" placeholder="Password" >
                        </div>
      
                        <div class="text-center pt-1 mb-2 pb-1">
                          <button class="btn btn-primary bg-primary1 border-0 btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                            in</button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <a href="/register" class="btn btn-outline-secondary " >Create new</a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>